/* Grid

/*
  Choose a grid width, the number of columns and the margin between columns.
  The result of the following equation has to be an integer, not a fraction:
  
  (width - (columns - 1) * col_margin) / columns = N
*/
/* total with of page */
/* number of columns */
/* margin between columns */
/* math magic */
/* create row div */
/* create a column div */
/* make an element span n columns */
/* the last column in a row needs this */
/* prepend n blank columns  */
/* append n blank columns */
body {
  font-family: Georgia, serif;
  overflow-y: scroll; }

.button {
  height: 1.75em;
  margin: 0.875em 0;
  padding: 0 0.875em;
  line-height: 1.75em;
  font-family: Lucida Grande, Helvetica, Arial, sans;
  background: black;
  display: inline-block;
  color: white;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none; }
  .button span {
    vertical-align: top; }
  .button.small {
    font-size: small; }
  .button:active {
    position: relative;
    top: 1px;
    -moz-box-shadow: 0 0px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.5); }
  .button.facebook {
    background: #3b5998;
    background: -moz-linear-gradient(top, #3b5998 0%, #2d4373 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3b5998), color-stop(100%, #2d4373)); }
    .button.facebook:hover {
      background: #2d4373;
      background: -moz-linear-gradient(top, #2d4373 0%, #1e2e4f 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2d4373), color-stop(100%, #1e2e4f)); }
    .button.facebook:active {
      background: #2d4373;
      background: -moz-linear-gradient(top, #2d4373 0%, #3b5998 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2d4373), color-stop(100%, #3b5998)); }
  .button.twitter {
    background: #9ae4e8;
    background: -moz-linear-gradient(top, #9ae4e8 0%, #70d9df 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9ae4e8), color-stop(100%, #70d9df)); }
    .button.twitter:hover {
      background: #70d9df;
      background: -moz-linear-gradient(top, #70d9df 0%, #47ced5 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #70d9df), color-stop(100%, #47ced5)); }
    .button.twitter:active {
      background: #70d9df;
      background: -moz-linear-gradient(top, #70d9df 0%, #9ae4e8 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #70d9df), color-stop(100%, #9ae4e8)); }
  .button.red {
    background: #ff3019;
    background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff3019), color-stop(100%, #cf0404)); }
    .button.red:hover {
      background: #e51700;
      background: -moz-linear-gradient(top, #e51700 0%, #9d0303 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e51700), color-stop(100%, #9d0303)); }
    .button.red:active {
      background: #cf0404;
      background: -moz-linear-gradient(top, #cf0404 0%, #ff3019 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cf0404), color-stop(100%, #ff3019)); }
  .button.green {
    background: #19ff30;
    background: -moz-linear-gradient(top, #19ff30 0%, #04cf04 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #19ff30), color-stop(100%, #04cf04)); }
    .button.green:hover {
      background: #00e517;
      background: -moz-linear-gradient(top, #00e517 0%, #039d03 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00e517), color-stop(100%, #039d03)); }
    .button.green:active {
      background: #04cf04;
      background: -moz-linear-gradient(top, #04cf04 0%, #19ff30 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #04cf04), color-stop(100%, #19ff30)); }
  .button.white {
    background: #c2c2c2;
    background: -moz-linear-gradient(top, #c2c2c2 0%, #aaaaaa 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c2c2c2), color-stop(100%, #aaaaaa)); }
    .button.white:hover {
      background: #a9a9a9;
      background: -moz-linear-gradient(top, #a9a9a9 0%, #909090 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a9a9a9), color-stop(100%, #909090)); }
    .button.white:active {
      background: #aaaaaa;
      background: -moz-linear-gradient(top, #aaaaaa 0%, #c2c2c2 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aaaaaa), color-stop(100%, #c2c2c2)); }
  .button.inactive {
    background: #aaaaaa;
    background: -moz-linear-gradient(top, #aaaaaa 0%, #888888 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aaaaaa), color-stop(100%, #888888)); }
    .button.inactive:hover {
      background: #909090;
      background: -moz-linear-gradient(top, #909090 0%, #6f6f6f 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #909090), color-stop(100%, #6f6f6f)); }
    .button.inactive:active {
      background: #888888;
      background: -moz-linear-gradient(top, #888888 0%, #aaaaaa 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #888888), color-stop(100%, #aaaaaa)); }

.button + .button {
  margin-left: 0.438em; }

#info {
  color: black; }
  #info .number {
    font-family: "Neue Helvetica", Helvetica, sans; }

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

h1, h2, h3, h4 {
  font-weight: bold; }

h1 {
  margin-top: 0.482em;
  margin-bottom: 0.321em;
  line-height: 1.606em;
  font-size: 218.0%;
  font-weight: normal; }

h2 {
  margin-top: 0.534em;
  margin-bottom: 0.534em;
  line-height: 1.067em;
  font-size: 164%;
  font-weight: normal; }

h3 {
  margin-top: 0.603em;
  margin-bottom: 0.603em;
  line-height: 1.207em;
  font-size: 145%;
  font-weight: normal; }

h4 {
  margin-top: 2.966em;
  margin-bottom: 0em;
  line-height: 1.483em;
  font-size: 118%; }

body {
  font: 0.945em "Georgia", serif;
  color: #222222;
  line-height: 1.75em; }

#info a {
  color: #ff3019;
  position: relative; }
  #info a:hover {
    color: #e51700; }
  #info a:active {
    color: #ff3019;
    top: 1px; }
  #info a:visited {
    color: #cf0404; }

#wrapper {
  width: 960px;
  margin: 0 auto; }

#header {
  position: relative;
  z-index: 5000; }
  #header h1, #header h2 {
    display: inline;
    margin: 0;
    padding: 0;
    vertical-align: baseline; }
  #header h2 {
    color: lightgrey;
    font-size: small;
    font-weight: normal; }

.buttons {
  float: right; }

#main-canvas {
  margin: -350px 136px 28px 136px;
  -moz-transition: margin-top 0.8s ease-in-out;
  -webkit-transition: margin-top 0.8s ease-in-out; }

#game #canvas-wrapper {
  position: relative; }
#game .rotate {
  display: inline-block;
  height: 80px;
  width: 47px;
  position: absolute;
  bottom: 170px; }
  #game .rotate.left {
    background: transparent url("../img/arrows.png") 0px 0 no-repeat;
    left: 40px; }
  #game .rotate.right {
    right: 40px;
    background: transparent url("../img/arrows.png") -53px 0 no-repeat; }

.inserter {
  position: absolute;
  display: block;
  background: transparent url("../img/drop.png") no-repeat;
  width: 50px;
  height: 50px; }

#selector {
  width: 101px; }
  #selector .rotate {
    display: inline-block;
    height: 80px;
    width: 47px;
    position: absolute; }
    #selector .rotate.left {
      background: transparent url("../img/arrows.png") 0px 0 no-repeat;
      left: -36px; }
    #selector .rotate.right {
      right: -36px;
      background: transparent url("../img/arrows.png") -53px 0 no-repeat; }

#palette {
  width: 100%;
  height: 120px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  text-align: left; }
  #palette img {
    margin: 0 0.875em; }
  #palette::-webkit-scrollbar {
    height: 8px; }
  #palette::-webkit-scrollbar-track {
    background: #e2e2e2;
    webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2); }
  #palette::-webkit-scrollbar-thumb {
    webkit-border-radius: 10px;
    border-radius: 10px;
    background: #ff3019;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }
  #palette::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 0, 0, 0.4); }

#info {
  padding-top: 1.75em; }
  #info .how-to-play {
    float: left;
    width: 276.8px;
    margin-right: 16px; }
  #info .whats-next {
    margin-left: 48.8px;
    float: left;
    width: 276.8px;
    margin-right: 16px; }
  #info .about {
    margin-left: 48.8px;
    float: left;
    width: 276.8px;
    margin-right: 16px;
    margin-right: 0; }

.popup {
  background: #cccccc;
  z-index: 6000;
  display: none;
  width: 28em;
  position: absolute;
  top: 150px;
  left: 50%;
  margin-left: -15.75em;
  padding: 1.75em;
  -webkit-border-radius: 0.438em;
  -moz-border-radius: 0.438em;
  border-radius: 0.438em;
  -moz-box-shadow: -3px 5px 20px rgba(30, 30, 40, 0.3), 3px 5px 20px rgba(30, 30, 40, 0.3), 0 10px 25px rgba(30, 30, 40, 0.2);
  -webkit-box-shadow: -3px 5px 20px rgba(30, 30, 40, 0.3), 3px 5px 20px rgba(30, 30, 40, 0.3), 0 10px 25px rgba(30, 30, 40, 0.2);
  box-shadow: -3px 5px 20px rgba(30, 30, 40, 0.3), 3px 5px 20px rgba(30, 30, 40, 0.3), 0 10px 25px rgba(30, 30, 40, 0.2); }
  .popup.visible {
    display: block; }
  .popup h1 {
    margin-top: 0em;
    margin-bottom: 0em;
    line-height: 1.606em;
    font-size: 218.0%; }

#share {
  color: #222222;
  background: #f2f2f2;
  background: -moz-linear-gradient(top, #f2f2f2 0%, #eeeeee 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(100%, #eeeeee)); }
  #share input {
    border: 1px solid #cccccc;
    width: 100%;
    height: 1.75em;
    margin: 0;
    display: inline-block; }
  #share .networks {
    float: left; }
  #share .networks + p {
    clear: both; }
  #share .dismiss {
    clear: both; }

#warning {
  color: white;
  text-shadow: 1px 1px 0px black;
  background: #888888;
  background: -moz-linear-gradient(top, #888888 0%, #555555 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #888888), color-stop(100%, #555555)); }
  #warning .blocks {
    text-align: center; }
    #warning .blocks img {
      padding: 0.875em; }
