@import mixins

body
  font-family: Georgia, serif
  overflow-y: scroll

.button
  font-family: Lucida Grande, Helvetica, Arial, sans

  background: black
  display: inline-block

  padding: ($vertical-rhythm / 8) ($vertical-rhythm / 4)

  margin-top:   $vertical-rhythm / 4
  margin-right: $vertical-rhythm / 4

  color: #fff
  text-decoration: none
  font-weight: bold

  @include border-radius(5px)

  -moz-box-shadow:    0 1px 3px rgba(0,0,0,0.5)
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5)
  box-shadow:         0 1px 3px rgba(0,0,0,0.5)

  text-shadow:        0 -1px 1px rgba(0,0,0,0.25)
  border-bottom:      1px solid rgba(0,0,0,0.25)

  cursor: pointer

  &:active
    position: relative
    top: 1px
    -moz-box-shadow:    0 0px 1px rgba(0,0,0,0.5)
    -webkit-box-shadow: 0 0px 1px rgba(0,0,0,0.5)
    box-shadow: 0 0px 1px rgba(0,0,0,0.5)

  &.red
    $hi:  #ff3019
    $low: #cf0404

    @include gradient($hi, $low)

    &:hover
      @include gradient(darken($hi, 10%), darken($low, 10%))

    &:active
      @include gradient($low, $hi)

  &.green
    $hi:  #19ff30
    $low: #04cf04

    @include gradient($hi, $low)

    &:hover
      @include gradient(darken($hi, 10%), darken($low, 10%))

    &:active
      @include gradient($low, $hi)

  &.inactive
    $hi:  #CCC
    $low: #888

    @include gradient($hi, $low)

    &:hover
      @include gradient(darken($hi, 10%), darken($low, 10%))

    &:active
      @include gradient($low, $hi)

    -webkit-transition: all 2s ease-in-out

#info
  color: black

  .number
    font-family: 'Neue Helvetica', Helvetica, sans
