@mixin gradient($a, $b)
  background: $a
  background: -moz-linear-gradient(top, $a 0%, $b 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$a), color-stop(100%,$b))
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$a', endColorstr='$b',GradientType=0)

body
  font-family: Georgia, serif
  overflow-y: scroll

.button
  font-family: Lucida Grande, Helvetica, Arial, sans

  background: black
  display: inline-block
  padding: 5px 10px 6px
  color: #fff
  text-decoration: none
  font-weight: bold

  -moz-border-radius:    5px
  -webkit-border-radius: 5px

  -moz-box-shadow:    0 1px 3px rgba(0,0,0,0.5)
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5)
  text-shadow:        0 -1px 1px rgba(0,0,0,0.25)
  border-bottom:      1px solid rgba(0,0,0,0.25)

  cursor: pointer

  &:active
    position: relative
    top: 1px
    -moz-box-shadow:    0 0px 1px rgba(0,0,0,0.5)
    -webkit-box-shadow: 0 0px 1px rgba(0,0,0,0.5)

  &.red
    $hi:  #ff3019
    $low: #cf0404

    @include gradient($hi, $low)

    &:hover
      @include gradient(darken($hi, 10%), darken($low, 10%))

    &:active
      @include gradient($low, $hi)

  &.green
    $hi:  #19ff30
    $low: #04cf04

    @include gradient($hi, $low)

    &:hover
      @include gradient(darken($hi, 10%), darken($low, 10%))

    &:active
      @include gradient($low, $hi)

#info
  color: black

  .number
    font-family: 'Neue Helvetica', Helvetica, sans
