$block_width: 43px;
$border_width: 1px;

#container {
    $calculated_width: 16 * $block_width - 14;

    display: block;
    position: absolute;
    left: 50%;
    width: $calculated_width;
    margin-left: $calculated_width / -2;
    height: $calculated_width / 2 + 1;

    bottom: 0;
}

.dragged {
    opacity: 0.3;
}

.column {
    position: absolute;
    width: 0;
    height: 0;
}

.top, .sw, .se, .floor {
    display: block;
    width: $block_width - 2 * $border_width;
    height: $block_width - 2 * $border_width;

    border: $border_width solid black;

    background: white;
}

.top, .sw, .se {
    position: absolute;
}

.block {
    position: relative;
    left: $block_width / -2;
    bottom: 2 * $block_width;

    display: block;

    margin-bottom: -2 * $block_width;
    padding-top: $block_width + $border_width;
}

.top, .floor {
    -webkit-transform: matrix(1.41421356, 0, 0, 0.707106781, 0, 0) rotate(45deg);
    -moz-transform: matrix(1.42, 0, 0, 0.71, 0, 0) rotate(45deg);
}

.top {
    top: $border_width;
    left: $block_width / 2;
}

.se {
    top: $block_width * 3 / 4;
    left: $block_width - $border_width;

    -webkit-transform: matrix(1, -0.5, 0, 1, 0, 0);
    -moz-transform: matrix(1, -0.5, 0, 1, 0, 0);
}

.sw {
    top: $block_width * 3 / 4;

    -webkit-transform: matrix(1, 0.5, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0.5, 0, 1, 0, 0);
}

/**
 * Textures
 * TODO: move them to a partial _textures.sass and import them
 */
.top {
    $offset: $block_width;
    
    &.curve {
        $yPos: -$offset;

        @for $q from 0 to 4 {
            &.rot#{$q * 90} {
                background-image: url('/img/textures.png');
                background-position: -$q * $offset $yPos;
            }
        }
    }

    &.straight {
        &.r0, &.r180 {

        }

        &.r90, &.r270 {

        }
    }

    &.cul-de-sac {
        &.r0 {

        }

        &.r90 {

        }

        &.r180 {

        }

        &.r270 {

        }
    }

    &.tee {
        &.r0 {

        }

        &.r90 {

        }

        &.r180 {

        }

        &.r270 {

        }
    }

    &.crossing {
 
    }
    
    &.crossing-hole {

    }
}