@import    grid
@import default
@import   reset
@import  mixins

$font-color: #222
$base-color: #06f
$light-text-color: #777

h1, h2, h3, h4
  font-weight: bold

h1
  @include adjust-font-size($h1-scale, 0.6, 0.4)
  font-weight: normal
h2
  @include adjust-font-size($h2-scale, 0.5, 0.5)
  font-weight: normal
h3
  @include adjust-font-size($h3-scale, 0.5, 0.5)
  font-weight: normal
h4
  @include adjust-font-size($h4-scale, 2, 0)

body
  font: ($base-font * 1.05) 'Georgia', serif
  color: $font-color

  line-height: $vertical-rhythm

#info a
  color: #ff3019
  position: relative
  
  &:hover
    color: darken(#ff3019, 10%)
  &:active
    color: #ff3019
    top: 1px
  &:visited
    color: #cf0404

#wrapper
  width: $width
  margin: 0 auto

#header
  position: relative
  z-index: 9999

  h1, h2
    display: inline
    margin: 0
    padding: 0
    
    vertical-align: baseline

  h2
    color: lightgrey
    font-size: small
    font-weight: normal

.buttons
  float: right

#main-canvas
  margin: -350px 136px 28px 136px

  -moz-transition: margin-top 0.8s ease-in-out
  -webkit-transition: margin-top 0.8s ease-in-out

#game
  #canvas-wrapper
    position: relative
  .rotate
    display: inline-block
    height: 80px
    width:  47px

    position: absolute
    bottom: 170px

    &.left
      background: transparent url('../img/arrows.png')   0px 0 no-repeat
      left:  40px
    &.right
      right: 40px
      background: transparent url('../img/arrows.png') -53px 0 no-repeat

.inserter
  position: absolute
  display: block
  background: transparent url('../img/drop.png') no-repeat

  width:  50px
  height: 50px

#selector
  width: 101px

  .rotate
    display: inline-block
    height: 80px
    width:  47px
    position: absolute
    &.left
      background: transparent url('../img/arrows.png')   0px 0 no-repeat
      left:  -36px
    &.right
      right: -36px
      background: transparent url('../img/arrows.png') -53px 0 no-repeat

#palette
  width: 100%
  height: 120px
  overflow-x: auto
  overflow-y: hidden

  white-space: nowrap
  text-align: left

  img
    margin: 0 $vertical-rhythm / 2

#info
  padding-top: $vertical-rhythm

  .how-to-play
    @include col(6)

  .whats-next
    @include prepend(1)
    @include col(6)

  .about
    @include prepend(1)
    @include col(6)
    @include last

.popup
  background: #ccc

  &.visible
    display: block

  display: none
  width:   $vertical-rhythm * 16

  position: absolute
  top:  150px
  left: 50%

  margin-left: $vertical-rhythm * -9

  padding: $vertical-rhythm
  @include border-radius($vertical-rhythm)

  h1
    margin: 0 0 16px 0
    font-family: Lucida Grande, Helvetica, Arial, sans

#share
  color: white
  text-shadow: 1px 1px 0px black

  background: #ff3019
  background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404))

  input
    width: 100%

#warning
  color: white
  text-shadow: 1px 1px 0px black

  background: #888
  background: -moz-linear-gradient(top, #888 0%, #555 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#888), color-stop(100%,#555))

  .blocks
    text-align: center

    img
      padding: $vertical-rhythm / 2