%html
  %head
    %title Marbleo.us
    %script{:type => "text/javascript",
            :src  => "http://code.jquery.com/jquery-1.4.4.min.js"}
    %script{:type => "text/javascript",
            :src  => "js/marbleous.js"}

  %body{:style => "-webkit-user-select: none"}
    #container
      %canvas#main-canvas{:style => "user-select: none"}
      %canvas#dragged-canvas{:style => "display: none; user-select: none"}
    #palette