!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en"}
  %head
    %title Marbleo.us
    %meta{'http-equiv' => "Content-Type",
          :content => "text/html; charset=UTF-8"}
    %script{:type => "text/javascript",
            :src  => "https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"}
    %script{:type => "text/javascript",
            :src  => "js/marbleous.js"}
    %link{:rel  => "stylesheet",
          :href  => "css/desktop.css"}

  %body
    #wrapper
      #container
        #header
          %h1
            marbleo.us
          %h2
            an online marble run.
          .buttons
            %a.run.green.button Test your Map!
            %a.share.red.button Share your Map!
        #game
          #canvas-wrapper
            %canvas#main-canvas
            %a.rotate.left{:href => 'javascript:void(0)'}
            %a.rotate.right{:href => 'javascript:void(0)'}
          #palette
        #info
          .how-to-play
            %h3 How to play
            %ul
              %li Drag blocks from the palette onto the map.
              %li Add at lease on block with a hole on top to the map.
              %li Click “Test your Map!” to take to try out your map.

          .whats-next
            %h3 Share your creation!
            %p
              Click “Share your Map!” to send your friends what you have built.
            
          .about
            %h3 About us
            %p
              Marbleo.us was build by
              %a{:href => 'http://robb.is/who-exactly'} Robert Böhnke
              and
              %a{:href => 'http://simonhohberg.de'} Simon Hohberg
              in 2011 for a students project at
              <a href="http://www.fu-berlin.de">Freie Universität Berlin</a>.

            %p
              This project was built using
              %a{:href => 'http://coffeescript.org'} CoffeeScript

    %canvas#dragged-canvas{:style => "display: none"}
    #selector{:style => "display: none"}
      %a.rotate.left{:href => 'javascript:void(0)'}
      %a.rotate.right{:href => 'javascript:void(0)'}
    #share.popup
      %h1 Share your Map!
      %input
      %p
        Send this URL around to let other have a look at what you’ve built.
        Thanks for using marbleo.us!
      %a.black.button.dismiss Dismiss

    #warning.popup
      %h1 Hold your horses!
      %p
        To test your map, make sure you have at least one of these blocks
        on your map and they are not covered by other blocks:
      .blocks
        %img{:src => './img/drop-middle.png'}
        %img{:src => './img/drop-low.png'}
      %p
        Once you’re good to go, The “Test your Map”-Button will turn green.
        Click it to take your marble for a ride!

      %a.black.button.dismiss Dismiss
