%html
  %head
    %title Marbleo.us
    %script{:type => "text/javascript",
            :src  => "http://code.jquery.com/jquery-1.4.4.min.js"}
    %script{:type => "text/javascript",
            :src  => "js/marbleous.js"}

  %body
    #container
      %canvas#main-canvas
      %canvas#dragged-canvas{:style => "display: none"}
