!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en"}
  %head
    %title Marbleo.us
    %meta{'http-equiv' => "Content-Type",
          :content => "text/html; charset=UTF-8"}
    %script{:type => "text/javascript",
            :src  => "https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"}
    %script{:type => "text/javascript",
            :src  => "js/marbleous.js"}
    %link{:rel  => "stylesheet",
          :href  => "css/desktop.css"}

  %body
    #wrapper
      #container
        #header
          %h1
            marbleo.us
          %h2
            an informatiCup 2011 project
          .buttons
            %a.run.green.button Test your Map!
            %a.share.red.button Share your Map!
        #game
          #canvas-wrapper
            %canvas#main-canvas
            %a.rotate.left{:href => 'javascript:void(0)'}
            %a.rotate.right{:href => 'javascript:void(0)'}
          #palette
        #info
          .how-to-play
            %ul
              %li Drag blocks from the palette onto the map.
              %li You can click a block to rotate it.
              %li
                Click
                %a.share.inline{} Share your Map!
                to send your friends what you have built.
          .about
            %p
              Marbleo.us was build by Simon Hohberg and
              %a{:href => 'http://twitter.com/ceterum_censeo'} Robert Böhnke
              for the Gesellschaft für Informatik informatiCup 2011
            %p
              Feel free to browse through the
              %a{:href => 'docs/Main.html'}
                documentation
          .whats-next
            %p
              Marbleo.us is an ongoing project and far from done. We hope that
              soon you will be able to take a marble for a ride on your creation
            %p
              This project was built using
              %a{:href => 'http://coffeescript.org'} CoffeeScript
            
    %canvas#dragged-canvas{:style => "display: none"}
    #selector{:style => "display: none"}
      %a.rotate.left{:href => 'javascript:void(0)'}
      %a.rotate.right{:href => 'javascript:void(0)'}
    #popup
      %h1 Share your Map!
      %input
      %p
        Send this URL around to let other have a look at what you’ve built.
        Thanks for using marbleo.us!
      %a.black.button#dismiss Dismiss
